*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.princial{
    display: flex;
    max-width: 1200px;
}
    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            display: flex;
            flex-flow: row nowrap;
        }
            .logo{
                flex: 1 1 auto;
                background-image: url(source/logo.png);
                background-size: auto;
                background-position: center;
                background-repeat: no-repeat;   
            }
            .nav{
                flex: 2 1 auto;
                align-items: center;
                justify-content: center;
            }
                .ul{
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;

                }
            .social{
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                flex: 1 1 auto;
            }
                .face{
                    background-image: url(source/download.png);
                    background-size: 80%;
                    background-repeat: no-repeat;
                }
                .x{
                    background-image: url(source/download\ \(1\).png);
                    background-size: 80%;
                    background-repeat: no-repeat;
                }
        .texto-princial{
            background: #f07b3f;
            background-image: url(source/header.jpg);
            background-position: center;
        }
            .centro{
                text-align: center;
                opacity: .7;
            }
    .section{
        background: #000;
        display: flex;
    }
        .articulo{
            background: #4e4e6a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .articulos{
                 background: #1f6cb0;
                 flex: 1 1 40%;
            }
            .navegacion{
                background: #70a3c4;
                flex: 1 1 100%;
            }
        .aside {
            background: #f73f52;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #ffea85;
            }
    .footer{
        background: #000;
    }
        .pie{
            background: #e6af2e;
        }

@media all and (max-width: 800px) {
    .section{
        flex-direction: column;
        background: #4e4e6a;
    }
}
@media all and (max-width: 400px) {
    .menu{
        flex-direction: column;
    }
    .section{
        flex-direction: column;
        .articulo{
            flex-direction: column;
        }
    }
}