*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.princial{
    display: flex;
    max-width: 1200px;
}
    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #2d4059;
            display: flex;
            flex-flow: row nowrap;
        }
            .logo{
                background: #ea5455;
                flex: 1 1 auto;
                background-image: url(source/logo.png);
                background-position: center;
            }
            .nav{
                background: #ea5455;
                flex: 5 1 auto;
            }
                .home1{
                    background-image: url(source/favicon.ico);
                }
                .rutas1{
                    background-image: url(source/favicon.ico);
                }
                .historia1{
                    background-image: url(source/favicon.ico);
                }
            .social{
                background: #ea5455;
                flex: 1 1 auto;
            }
        .texto-princial{
            background: #f07b3f;
            background-image: url(source/header.jpg);
            background-position: center;
        }
            .centro{
                text-align: center;
            }
    .section{
        background: #000;
        display: flex;
    }
        .articulo{
            background: #4e4e6a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .articulos{
                 background: #1f6cb0;
                 flex: 1 1 40%;
            }
            .navegacion{
                background: #70a3c4;
                flex: 1 1 100%;
            }
        .aside {
            background: #f73f52;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #ffea85;
            }
    .footer{
        background: #000;
    }
        .pie{
            background: #e6af2e;
        }

@media all and (max-width: 800px) {
    .section{
        flex-direction: column;
        background: #4e4e6a;
    }
}
@media all and (max-width: 400px) {
    .menu{
        flex-direction: column;
    }
    .section{
        flex-direction: column;
        .articulo{
            flex-direction: column;
        }
    }
}